*{
    margin: 0;
    padding: 0;
}
*/{
     font-family: 'Playfair Display', serif;
     font-family: 'Ubuntu', sans-serif;
}
header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo{
    width: 20%;
}
.menu{
    width: 50%;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
menu ul li{

}
.menu ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
    font-family: 'Playfair Display', serif;

}
.banner{
    width: 90%;
    margin: auto;
}
.banner img{
    width: 100%;
}
.photodairy{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.photodairy h5{
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.photodairy h1{
    color: #626262;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}
.photodairy p{
    font-size: 15px;
    color: #626262;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.photodairy h4{
    color: #b4ad9e;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.feature{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.items{
    width: 48%;
}
.items h5{
    color: #b4ad9e;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.items h1{
    color: #626262;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}
.items p{
    font-size: 15px;
    color: #626262;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.items img{
    width: 100%;
}
.offers{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.discount{
    width: 48%;
}
.discount h5{
    color: #b4ad9e;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.discount h1{
    color: #626262;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}
.discount p{
    font-size: 15px;
    color: #626262;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.discount img{
    width: 100%;
}
.newsletter{
    background-color: #f0f0f0;
    padding: 80px 0;
}
.content{
    width: 30%;
    margin: auto;
    text-align: center;
}
.content h1{
    color: #626262;
    font-family: 'Playfair Display', serif;
}
.content input{
    background: transparent;
    border: none;
    border-bottom: 1px solid#000;
    width: 100%;
    margin-top: 50px;
    padding: 5px 0;
}
.content input::placeholder{
    color:#6262;
}
.content input :focus{
    outline:none;
}
.service{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.service_offer{
    width: 48%;
}
.service_offer h5{
    color: #b4ad9e;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.service_offer h1{
    color: #626262;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}
.service_offer img{
    width: 100%;
}
.loadmore{
    padding: 100px 0;
    text-align: center;
}
.loadmore button{
    background: transparent;
    border: 1px solid#000;
    padding: 15px 30px;
    text-transform: capitalize;
    color: #626262;
    font-size: 18px;
    font-family:'Playfair Display', serif; 
}